@charset "UTF-8";

html {
  background-color: rgb(28, 25, 25);
}

body {
  background-color: white;
  width: 960px;
  height: auto;
  margin: 0px auto 0px auto;
}

/* Elementos do Header começam aqui */
header {
  position: relative;
  background-color: white;
  height: 215px;
  width: 960px;
}

.banner_img {
  position: static;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu {
  position: relative;
}

.hold {
  position: relative;
  left: -10px;
}

.holder {
  display: inline;
  text-align: center;
}

.menu_item {
  color: rgb(215, 103, 0);
  background-color: rgb(28, 25, 25);
  border: solid 1px rgb(215, 103, 0);
  padding: 15px;
  margin: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bolder;
}

.menu_item:hover {
  color: rgb(28, 25, 25);
  background-color: rgb(215, 103, 0);
}

/* Elementos do Header acabam aqui */
/* Elementos do Article começam aqui */
article {
  position: static;
  background-color: white;
  margin: 10px;
}

.page_title {
  position: static;
  color: rgb(215, 103, 0);
  font-family: Verdana, Arial, sans-serif;
  font-weight: bolder;
  font-size: 2.5em;
  padding-left: 15px;
}

 .comandos, .comandos_th, .comandos_td {
  font-size: 0.9em;
  padding: 5px;
  border-collapse: collapse;
  border: solid 1px black;
}

.grupo, .grupo_th, .grupo_td {
 font-size: 1.1em;
 padding: 5px;
 border-collapse: collapse;
 border: solid 1px black;
}

/* Elementos do Article acabam aqui */
/* Elementos do Footer começam aqui */
footer {
  position: relative;
  background-color: white;
  height: 140px;
}

.img_footer {
  position: relative;
}

.logo_foot {
  position: absolute;
  top: 35px;
  left: 20px;
}

.map {
  position: absolute;
  top: 15px;
  left: 100px;
}

.map_title {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bolder;
  font-size: 0.9em;
}

.map_item {
  color: rgb(215, 103, 0);
  background-color: rgb(28, 25, 25);
  border: solid 1px rgb(215, 103, 0);
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bolder;
  font-size: 0.2em;
}

.map_item:hover {
  color: rgb(28, 25, 25);
  background-color: rgb(215, 103, 0);
}

.copyrights {
  position: absolute;
  bottom: 0px;
  color: lightgray;
  font-size: 0.7em;
}

.small_link {
  color: rgb(215, 103, 0);
}

/* Elementos do Footer acabam aqui */
aside, section {
  background-color: white;
  border: solid 2px rgb(215, 103, 0);
  margin: 10px;
}

p, h2, h3, h4 {
  padding: 0px 10px 10px 10px;
}

h2, h3, h4 {
  padding-left: 10px;
}

p {
  font-family: georgia, courier, 'times new roman', serif;
  text-align: justify;
  padding: 0px 10px;
}
